@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --grid-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid-cell {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .grid-cell:hover {
  cursor: pointer;
} */

#id1,
#id7 {
  border-left: 2px solid var(--grid-color);
  border-right: 2px solid var(--grid-color);
}

#id3,
#id5 {
  border-top: 2px solid var(--grid-color);
  border-bottom: 2px solid var(--grid-color);
}

#id4 {
  border: 2px solid var(--grid-color);
}
